
@model Employee
@if(Model is null)
{
    <h3>User Not Found</h3>
}
else
{
<div class="container">
    <div class="card">
        <div class="card-header">
            Featured
        </div>
        <div class="card-body">
            <h5 class="card-title">@Model.Fname @Model.Lname</h5>
            <p class="card-text">@Model.Address</p>
            <p class="card-text">@Model.Bdate</p>
            <p class="card-text">@Model.Sex</p>
            <p class="card-text">@Model.Salary</p>
        </div>
    </div>
</div>
}
@section Emp {
    DETAILS
}